Incorrect 416 response for valid range request when range.end>=total_bytes

Even if range.end>=total_bytes, range should be valid when range.start<total_bytes.

> If the last-byte-pos value is
> absent, or if the value is greater than or equal to the current
> length of the representation data, the byte range is interpreted as
> the remainder of the representation (i.e., the server replaces the
> value of last-byte-pos with a value that is one less than the current
> length of the selected representation).
> [RFC 7233 Section 2.1](https://datatracker.ietf.org/doc/html/rfc7233#section-2.1)

> The 416 (Range Not Satisfiable) status code indicates that none of
> the ranges in the request's Range header field (Section 3.1) overlap
> the current extent of the selected resource or that the set of ranges
> requested has been rejected due to invalid ranges or an excessive
> request of small or overlapping ranges.
> [RFC 7233 Section 4.4](https://datatracker.ietf.org/doc/html/rfc7233#section-4.4)

Example :
  - Resource size: 1000 bytes
  - Request: `Range: bytes=800-1500`

Expected:
  - Status code 206 Partial Content
  - Response: `Content-Range: bytes 800-999/1000`
